.home-page .section-form {
  width: 100%;
}
.section-form .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .section-form .form-wrapper {
    display: block;
  }
}

.form-wrapper .form-input {
  position: relative;
  display: flex;
  align-items: center;
}
.form-input .form-icon {
  position: absolute;
  top: 12px;
  left: 14px;
}
.form-input .form-icon > i {
  color: var(--theme-bg-text-input);
}
.form-input input {
  width: 100%;
  min-width: 350px;
  background-color: var(--theme-bg-input);
  color: var(--theme-bg-text-input);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 20px 10px 45px;
  height: 45px;
  outline: none;
  border: 0;
  border-radius: 5px;
  transition: 0.3s all;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 15%);
}
.form-input input::placeholder {
  color: var(--theme-bg-text-input);
}
@media (max-width: 900px) {
  .form-input {
    margin-bottom: 1rem;
  }
  .form-input input {
    width: 100%;
    display: block;
    min-width: auto;
  }
}

.section-countries {
  padding: 30px 0;
  overflow: hidden;
}
.section-countries .action-more {
  margin: 20px 0;
  padding: 1rem 0;
  text-align: center;
}
.action-more button {
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  text-transform: capitalize;
  color: aqua;
  background-color: transparent;
}
.section-countries .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media (max-width: 1200px) {
  .section-countries .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  .section-countries .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .section-countries .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.grid .grid-item {
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 2px 29px rgba(0, 0, 0, 15%);
}
.grid-item .c-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.c-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item .c-body {
  padding: 20px 17px;
  background-color: var(--theme-bg-card);
  height: fit-content;
}
.c-body h4 {
  color: var(--theme-card-title);
  font-size: 1.1rem;
}
.c-body .c-subtitle {
  padding: 14px 0;
}
.c-subtitle p {
  color: var(--theme-card-subtitle);
  margin-bottom: 0.3rem;
}
.c-subtitle p > span {
  margin-left: 0.3rem;
  color: #a2aeba;
  font-weight: 600;
}
